/*from outside to inside: margin, border, padding, content*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* html {
	height: 100%;
	background-size: cover;
	background-image: linear-gradient(to bottom right, #facd00, #fda00d);
	background-repeat: no-repeat;
} */

body {
	font-family: "Poppins";
	font-size: 17px;
	background-size: cover;
	background-image: linear-gradient(to bottom right, #facd00, #fda00d);
	background-repeat: no-repeat;
	margin: 0 20%;
}

h1, h2, h3, h4 {
	margin: 0 0 auto 0;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

header, nav, div, footer, button, p {
	margin: 10px auto;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

p {
	box-shadow: none;
}

header {
	background-color: #06497a;
	color: #acc1d0;
	margin-top: 50px;
	text-align: center;
	font-size: 40px;
	font-family: Poppins;
	font-weight: bold;
}

nav {
	background-color: #769ad1;
}

div {
	background-color: #fbdb4b;
}

a {
	color: #0060C0;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

nav a {
	color: #f2f2f2;
}

ul.link-list {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}

ul.link-list li a {
	float: left;
	padding: 5px 10px;
	font-size: 20px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.login ul {
	list-style-type: disc;
	margin-left: 50px;
}

.vibrant-matters ul {
	list-style: disc;
	margin-left: 50px;
}


/* Add a color to the active/current link */

a:hover {
	background-color: #fcb524;
	color: #3090E0;
	border-radius: 3px;
}

nav a:hover, a.active {
	background-color: #5A85BB;
	color: #ffffff;
}

.floating-image-left, .floating-image-right {
	max-width: 600px;
	max-height: 600px;
	margin-right: 10px;
}

.floating-image-left {
	float: left;
}

.floating-image-right {
	float: right;
}

.soa p {
	margin-left: 10px;
}

footer {
	background-color: #a17fff;
	font-size: 14px;
}

button {
	margin: 10px 5px 0 35px;
	padding: 5px;
	background-color: #d67fff;
	width: 100px;
	height: 30px;
}

.login-main button {
	width: 300px;
}

.login a:hover, .login-main a:hover {
	background-color: #fbdb4b;
}

.two-columns {
	column-count: 2;
}

#about-left {
	float: left;
	width: 64%;
}

#about-right {
	float: right;
	width: 30%;
}


@media screen and (max-width: 1300px) {
	body {
		margin: 0 10%;
	}
}

@media screen and (max-width: 700px) {
	body {
		margin: 0 15px;
	}
}

@media screen and (max-width: 450px) {
	#floating-image-right, #floating-image-left {
		float: none;
	}
}

@media screen and (max-width: 900px) {
	#soa-greenhall {
		float: none;
	}
	.two-columns {
		column-count: 1;
	}
}

